h1 {
font-family: 'Amatic SC', cursive;
color: #EFF7C5;
text-align: center;
font-size: 60px;
}

p {
    font-family: 'Amatic SC', cursive;
    color: #EFF7C5;
    text-align: center;
    font-size: 35px;
}

body {
    background-color: #581845;
}

button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

ul {
    font-family: 'Amatic SC', cursive;
    color: #EFF7C5;
    font-size: 28px;

}

.idk {
    text-decoration: line-through;
}

